@import 'vars.scss';
@import 'components/image-view.scss';

@font-face {
  font-family: 'BerkshireSwash';
  src: url('../assets/fonts/BerkshireSwash-Regular.ttf');
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: $color-blue;
	color: $color-green;
}

button {
	background-color: $color-orange;
	color: #1A2857;
	border: 1px solid #fff;
	padding: .25em .5em;
}

.title {
	font-family: 'BerkshireSwash', serif;
	font-size: 6em;
	text-align: center;
	text-shadow: 3px 3px 1px #000;
}

.form-box {
	text-align: center;
}

#img-input {
	margin: 2em .5em 0 2em;
}